<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/login.css" rel="stylesheet"/>
    <link href="images/favicons.png" rel="icon" type="image/png" />
</head>
<body>


    <div class="container">

        <div class="row" id="pwd-container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <section class="login-form">

                    <div th:if="${param.error}" class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> Invalid username and/or password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> You have been logged out.
                    </div>

                    <form method="post" action="/login" class="login-form" name="f" >
                        <br/>
                        <img src="images/logo.png" class="img-responsive" alt="" />
                        <input type="text" name="username" placeholder="Username" required="true" class="form-control input-lg" />
                        <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required="true" />

                        <div class="pwstrength_viewport_progress"></div>
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    </form>

                    <div class="form-links">
                        <p> &copy; 2017 <a href="https://neuroread.net/">NeuroRead.net</a> </p>
                    </div>
                </section>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <script src="webjars/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>